version: '3.9'

networks:
  net:
    driver: bridge

services:
  chroma:
    image: personoids/chroma
    restart: always 
    environment:
      - CHROMA_DB_IMPL=clickhouse
      - CLICKHOUSE_HOST=clickhouse
      - CLICKHOUSE_PORT=8123
    build: 
      context: ./
      dockerfile: Dockerfile-chroma      
    ports:
      - 8000:8000
    depends_on:
      - clickhouse
    networks:
      - net
  plugin:
    image: personoids/plugin-lite
    restart: always 
    # build: 
    #   context: ./
    #   dockerfile: Dockerfile
    environment:
      - SERPAPI_API_KEY=${SERPAPI_API_KEY}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - HUGGINGFACE_TOKEN=${HUGGINGFACE_TOKEN}
      - CHROMA_SERVER_URL=http://chroma:8000
    ports:
      - 5004:5004
      - 5001:5001
      - 5002:5002
      - 5003:5003
      - 5005:5005
      - 3000:3000
      - 3001:3001
      - 3002:3002
      - 8080:8080
      - 8081:8081
      - 8082:8082
      - 8083:8083
    volumes:
      - ./workspace:/usr/workspace
      - ./root:/root      
    depends_on:
      - chroma
    networks:
      - net
    links:
      - chroma
  clickhouse:
    image: clickhouse/clickhouse-server:22.9-alpine
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - CLICKHOUSE_TCP_PORT=9000
      - CLICKHOUSE_HTTP_PORT=8123
    ports:
      - '8123:8123'
      - '9000:9000'
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - clickhouse_logs:/var/log/clickhouse-server
      - backups:/backups
      - ./config/backup_disk.xml:/etc/clickhouse-server/config.d/backup_disk.xml
      - ./config/chroma_users.xml:/etc/clickhouse-server/users.d/chroma.xml
    networks:
      - net

volumes:
  clickhouse_data:
    driver: local
  clickhouse_logs:
    driver: local
  index_data:
    driver: local
  backups:
    driver: local
